*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/nature25.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-box{
    background-image:linear-gradient(#24478f, #ff80d5); ;
    text-align: center;
    padding: 40px 90px;
    color: #ffffff;
    position: relative;
    border-radius: 20px;
}
.menu-icon{
    width: 25px;
    position: absolute;
    left: 40px;
    top: 30px;

}

.setting-icon{
    width: 25px;
    position: absolute;
    right: 40px;
    top: 30px;

}

.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #ffffff;
    padding: 6px;
    margin-top: 40px;
}
.profile-bottom{
    background: #ffffff;
    color: #999;
    padding: 60px 0;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;
    margin-top: -10px;
}
.profile-bottom img{
    width: 15px;
    margin-top: 15px;
    cursor: pointer;
}
.profile-box button{
    background: #ffffff;
    color: #2a15e9;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(27, 27, 27, 0.5);
    padding: 15px 60px;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 600;
    font-size: 16px;
}
.profile-box h3{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}
.social-media img{
    width: 30px;
    margin: 30px 5px;
    cursor: pointer;
}